*{
    margin: 0;
    padding: 0;
}

:root {
    --police:"Roboto", sans-serif;
    --primaire:#f5e8f1;
    --secondaire:#0728af;
    --danger:#c00606;
    --bouton:#7a7883;
    --radious:12px;
    --padding: 20px
}

body{
   font-family: var(--police);
}

.navbar{
    position: fixed;/* Fixe la barre de navigation */
    top: 0;/* Place la barre en haut de la fenêtre */
    width: 100%; /* S'assure que la barre s'étend sur toute la largeur de la fenêtre */
    height: 40px; /* la haut de la bare de navigation*/
    display: flex;
    justify-content: space-between;/*s'assure de ocupé tout l'espace disponible*/
    background-color: var(--primaire);
    padding: var(--padding);
    align-items: center;
    z-index: 1000;
    border: 2px;


}

.logo img{
    width: 100px;/*la taille du logo*/
}

.lien ul{
    display: flex;
    list-style: none;
}

.lien ul li{
    margin-left: 20px;
}
.nav-link, .back{ /*avant de cliquer sur un mot dans la barre de nav*/
    color: #080808;
    font-size: 20px;
    text-decoration: none;
    margin-left: 20px;
    transition: 0.3s;
    margin-right: 50px;
    font-weight: bold; /* Texte en gras */
    
}

.nav-link:hover, .active{ /*apres avoir cliquer sur un mot dans la barre de navigation*/
    color: #ff2391;
    font-size: 1.2rem;
    transition: color 0.3s, font-size 0.3s;
}
.hero{
    width: 100%;/*largeur de la baniere*/
    height: 500px;/*hauteur de la baniere*/
    background-image: url(../image/baniere.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    position: relative;

}

.over-lay{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.3);/*permet d'afficher la couleur noir transparente qui est sur la baniere*/
    position: absolute;
}

.hero-text{
    padding: 200px 0;/*le texte soit centre sur la baniere*/
    text-align: center;
    z-index: 1;
    position: relative;
}
.hero h1{
    font-size: 3em;/*ttaille de la couleur du texte qui est dans la baniere */
}
 .hero h2{
    margin-bottom: 30px;
 }

.btn{
    text-decoration: none; /*decoration de en savoir plus*/
    background-color: var(--bouton);
    padding: var(--padding);
    border-radius: var(--radious);
    color: #fff;
}
.btn:hover{
    background-color: var(--primaire);
    color: var(--secondaire);
    transition: 0.3s;
}
/*Pour a propos*/
.container {
    padding: var(--padding);
    align-items: center;
}

.row {
    display: flex;
    align-items: center;
    gap:50px; /*Pour espacer nos colonne*/
    flex-wrap:wrap; /*Ramene les colonne à la ligne si l'espace est trop petit*/
    justify-content: space-between;
} 

.col-md-6 {
    flex: 1 1 calc(25% - 10px); /* donne 25% à chaque colonne*/
    min-width: 250px; /*Force les colonne à revenir à la ligne sur petit écran */
    padding-bottom: var(--padding); /*Ajoute des interligne de bas sur nos colonnes pour empecher que ce ça cole sur le mobile*/
}

.col-md-6 h1 {
    margin-bottom: 25px; /*espace en bas entre le h1 et le p */
    font-size: 30px;
}

.col-md-6 p {
   text-align: justify; /*Justifie */
}

.col-md-6 img {
    width: 100%;
    border-radius: var(--radious);
}

.container1 {
    padding-left: 400px;/*permet de mettre la presentation au centre*/
    align-items: center;
    background-color: #f9f9f9; /* Fond blanc pour la section */
    text-align: center; /* Centre le titre */
    margin: 2rem;
    height: auto; /* Maintient le ratio de l'image */
    border-radius: 8px; /* Coins arrondis pour l'image */
}

.row2{
    display: flex;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col1-md-12{
    margin-bottom: 20px;
    font-size: 18px;
    align-items: center;
    gap: 50%;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.col1-md-12 h1{
    padding: 10px;
}
.col1-md-12 h3{
    padding: var(--padding);
    padding-bottom: var(--padding);
}

.col1-md-12 ul{
    list-style-type: none;
}

.col1-md-12 ul li{
    margin-right: 20px;
}

.container2{
    padding: var(--padding);
    align-items: center;
}

.row3{
    display: flex;
    align-items: center;
    gap:50px; /*Pour espacer nos colonne*/
    flex-wrap:wrap; /*Ramene les colonne à la ligne si l'espace est trop petit*/
    justify-content: space-between;
}

.col2-md-6 {
    flex: 1 1 calc(25% - 10px); /* donne 25% à chaque colonne*/
    min-width: 250px; /*Force les colonne à revenir à la ligne sur petit écran */
    padding-bottom: var(--padding); /*Ajoute des interligne de bas sur nos colonnes pour empecher que ce ça cole sur le mobile*/
}

.col2-md-6 h1 {
    margin-bottom: 25px; /*espace en bas entre le h1 et le p */
    font-size: 30px;
}

.col2-md-6 p {
   text-align: justify; /*Justifie */
}

.col2-md-6 img {
    width: 100%;
    border-radius: var(--radious);
}

.footer{
    background-color: #f0a4f7;
    color: #fff;
    text-align: center;
    padding: var(--padding);
    margin-top: 30px;
}
